.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-family: serif;
  color: #15467e;
  font-size: 30px;
}

.filters {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filters mat-form-field {
  flex: 1;
  margin-top: 10px;
  margin-right: 10px;
}

.filters button {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.mat-table {
  width: 100%;
  margin-top: 20px;
}

.mat-header-cell,
.mat-cell {
  padding: 8px;
}

.mat-header-cell {
  background-color: #343a40;
  color: #fff;
}

.mat-paginator {
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
