<div class="container-fluid p-4" dir="rtl">
  <div class="formbg p-4 mt-3" style="background-color: #f2f2f2;">
    <div class="px-4 py-2">
      <div class="page p-4 my-3 mx-auto rounded text-center">
        <div>
          <p class="py-4 rounded textColor center-text">
            اعدادات تكلفة الشحن الاضافيه بالنسبه لوزن الشحنه</p>
        </div>
        <form class="flex flex-wrap" [formGroup]="villageCostForm" (ngSubmit)="onSubmit()">
          <div class="d-flex flex-row justify-content-center mt-4 gap-2">
            <label for="price" class="form-control w-50 text-right">سعر الشحن للقري</label>
            <input type="number" id="price" class="form-control w-25" formControlName="price" />
          </div>
          <button type="submit" class=" mt-4 px-4 py-2">حفظ</button>
        </form>
      </div>
    </div>
  </div>
</div>
