<!-- <div class="sidebar">
  <div class="sidebar-header">
    <img src="../../../assets/logo.logo.png" alt="Logo" class="sidebar-logo" width="120">
  </div>

  <ul class="nav flex-column me-5  align-items-end">
    <li class="nav-item">
      <a class="nav-link" routerLink='main-screen'>
        الرئيسية <i class="fas fa-home"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/addGroup">
        الصلاحيات <i class="fas fa-shield-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link toggle" id="navbarDropdown" role="button">
        المستخدمين <i class="fas fa-users"></i>
      </a>
      <ul class="sublist user-sublist" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/employee/all"> الموظفين</a></li>
        <li><a class="dropdown-item" routerLink="/merchants">التجار </a></li>
        <li><a class="dropdown-item" routerLink="/representative"> المناديب </a></li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link toggle" id="navbarDropdown" role="button">
        المناطق <i class="fas fa-map-marked-alt"></i>
      </a>
      <ul class="sublist user-sublist" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/governate"> المحافظات</a></li>
        <li><a class="dropdown-item" routerLink="/city">المدن </a></li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/branch">
        الفروع <i class="fas fa-code-branch"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link toggle" id="navbarDropdown" role="button">
        الاعدادات <i class="fas fa-cog"></i>
      </a>
      <ul class="sublist user-sublist" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="weight"> اعدادات الوزن</a></li>
        <li><a class="dropdown-item" routerLink="village-cost"> التوصيل لقريه </a></li>
        <li><a class="dropdown-item" routerLink="shippingtype"> انواع الشحن </a></li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link toggle" id="navbarDropdown" role="button">
        عرض الطلبات <i class="fas fa-shopping-cart"></i>
      </a>
      <ul class="sublist user-sublist" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/order/add"> جديد </a></li>
        <li><a class="dropdown-item" routerLink="/village-cost"> قيد الانتظار </a></li>
        <li><a class="dropdown-item" routerLink="/shippingtype"> تم التسليم للمندوب </a></li>
        <li><a class="dropdown-item" routerLink="/shippingtype"> لا يمكن الوصول </a></li>
        <li><a class="dropdown-item" routerLink="/shippingtype"> تم التأجيل </a></li>
        <li><a class="dropdown-item" routerLink="/shippingtype"> تم التسليم جزئيا </a></li>
        <li><a class="dropdown-item" routerLink="/shippingtype"> الالغاء من قبل المستلم </a></li>
        <li><a class="dropdown-item" routerLink="/shippingtype"> الرفض مع الدفع </a></li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/order/reports">
        تقارير الطلبات <i class="fas fa-file-alt"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/order/add">
        طلب جديد <i class="fas fa-plus-circle"></i>
      </a>
    </li>
  </ul>
</div> -->






<div class="sidebar">
  <div class="sidebar-header">
    <img src="../../../assets/logo.logo.png" alt="Logo" class="sidebar-logo" width="120">
  </div>

  <ul class="nav flex-column me-5  align-items-end">
    <li class="nav-item">
      <a class="nav-link" routerLink='main-screen'>
        الرئيسية <i class="fas fa-home"></i>
      </a>
    </li>
    <li class="nav-item" *ngIf="hasPrivilege('admin', 'add')">
      <a class="nav-link" routerLink="/admin/addGroup">
        الصلاحيات <i class="fas fa-shield-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link toggle" id="navbarDropdown" role="button">
        المستخدمين <i class="fas fa-users"></i>
      </a>
      <ul class="sublist user-sublist" aria-labelledby="navbarDropdown">
        <li *ngIf="hasPrivilege('Employee', 'view')"><a class="dropdown-item" routerLink="/employee/all"> الموظفين</a>
        </li>
        <li *ngIf="hasPrivilege('Merchant', 'view')"><a class="dropdown-item" routerLink="/merchants">التجار </a></li>
        <li *ngIf="hasPrivilege('Representative', 'view')"><a class="dropdown-item" routerLink="/representative">
            المناديب </a></li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link toggle" id="navbarDropdown" role="button">
        المناطق <i class="fas fa-map-marked-alt"></i>
      </a>
      <ul class="sublist user-sublist" aria-labelledby="navbarDropdown">
        <li *ngIf="hasPrivilege('Governate', 'view')"><a class="dropdown-item" routerLink="/governate"> المحافظات</a>
        </li>
        <li *ngIf="hasPrivilege('City', 'view')"><a class="dropdown-item" routerLink="/city">المدن </a></li>
      </ul>
    </li>

    <li class="nav-item" *ngIf="hasPrivilege('Branch', 'view')">
      <a class="nav-link" routerLink="/branch">
        الفروع <i class="fas fa-code-branch"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link toggle" id="navbarDropdown" role="button">
        الاعدادات <i class="fas fa-cog"></i>
      </a>
      <ul class="sublist user-sublist" aria-labelledby="navbarDropdown">
        <li *ngIf="hasPrivilege('Weight', 'view')"><a class="dropdown-item" routerLink="weight"> اعدادات الوزن</a></li>
        <li *ngIf="hasPrivilege('VillageCost', 'view')"><a class="dropdown-item" routerLink="village-cost"> التوصيل
            لقريه </a></li>
        <li *ngIf="hasPrivilege('ShippingType', 'view')"><a class="dropdown-item" routerLink="shippingtype"> انواع الشحن
          </a></li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link toggle" id="navbarDropdown" role="button">
        عرض الطلبات <i class="fas fa-shopping-cart"></i>
      </a>
      <ul class="sublist user-sublist" aria-labelledby="navbarDropdown">
        <li *ngIf="hasPrivilege('OrderAdd', 'view')"><a class="dropdown-item" routerLink="/order/add"> جديد </a></li>
        <li *ngIf="hasPrivilege('VillageCost', 'view')"><a class="dropdown-item" routerLink="/village-cost"> قيد
            الانتظار </a></li>
        <li *ngIf="hasPrivilege('ShippingType', 'view')"><a class="dropdown-item" routerLink="/shippingtype"> تم التسليم
            للمندوب </a></li>
        <li *ngIf="hasPrivilege('ShippingType', 'view')"><a class="dropdown-item" routerLink="/shippingtype"> لا يمكن
            الوصول </a></li>
        <li *ngIf="hasPrivilege('ShippingType', 'view')"><a class="dropdown-item" routerLink="/shippingtype"> تم التأجيل
          </a></li>
        <li *ngIf="hasPrivilege('ShippingType', 'view')"><a class="dropdown-item" routerLink="/shippingtype"> تم التسليم
            جزئيا </a></li>
        <li *ngIf="hasPrivilege('ShippingType', 'view')"><a class="dropdown-item" routerLink="/shippingtype"> الالغاء من
            قبل المستلم </a></li>
        <li *ngIf="hasPrivilege('ShippingType', 'view')"><a class="dropdown-item" routerLink="/shippingtype"> الرفض مع
            الدفع </a></li>
      </ul>
    </li>

    <li class="nav-item" *ngIf="hasPrivilege('OrderReports', 'view')">
      <a class="nav-link" routerLink="/order/reports">
        تقارير الطلبات <i class="fas fa-file-alt"></i>
      </a>
    </li>

    <li class="nav-item" *ngIf="hasPrivilege('OrderAdd', 'add')">
      <a class="nav-link" routerLink="/order/add">
        طلب جديد <i class="fas fa-plus-circle"></i>
      </a>
    </li>
  </ul>
</div>