<!-- <div class="main-screen">
    <div class="card" *ngFor="let card of cards">
      <div class="content">
        <div class="square">{{ card.number }}</div>
        <div class="text">{{ card.text }}</div>
      </div>
    </div>
  </div> -->
  <div class="container-fluid p-4 " dir="rtl">
    <div class="p-4 mt-3">
        <div class="row p-4">
          <!-- <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" *ngFor="let status of countOfOrders;let i=index"> -->
  
            <div *ngFor="let key of getEnumKeys(orderStatus)"  class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
              <!-- <a [routerLink]="['orders/',i+2]" style="text-decoration: none;"> -->
  
                <a  style="text-decoration: none;" (click)="filterOrder(key)" [routerLink]="">
                    <div class="card shadow mb-5 rounded" style="background-color: #f8f9fa;">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers pt-3">
                                      <!-- <p class="text-center text-sm mb-0 text-capitalize textColor">
                                        {{StatusNames[i].name}}</p> -->
                                        <!-- <div class="shadow text-center rounded display-6" style="color: #1ca3c4;">
                                          <p>{{countOfOrders[i]}}</p>
                                      </div> -->
                                        <p class="text-center text-sm mb-0 text-capitalize textColor">{{orderStatus[key]}}</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="shadow text-center rounded display-6" style="color: #1ca3c4;">
                                        <p>{{getOrderNumbersByStatus(key)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
  </div>