<div class="container py-5">
    <div class="row">
    <div class="col-12 py-3">
      <button class="btn btn-primary" style="background-color: #15467e;" (click)="openModal()">اضافة مدينة</button>
        </div>
        
    <div class="col-12 d-flex  flex-md-row justify-content-between align-items-center mb-3">
      <!-- <form class="d-flex form-inline mb-3 mb-md-0 ">
        <input class="form-control flex-grow-1 me-2" type="search" placeholder="بحث عن مدينة" aria-label="Search" [(ngModel)] = 'cityName' name="cityName">
        <button class="btn btn-outline-secondary" type="button" (click)="search()">Search</button>
            </form> -->
            <form class="d-flex form-inline mb-3 mb-md-0">
              <input class="form-control flex-grow-1 me-2" type="search" placeholder="بحث عن مدينة" aria-label="Search" [(ngModel)]="cityName" name="cityName">
              <button class="btn btn-outline-secondary" type="button" (click)="search()">
                  <i class="bi bi-search"></i> <!-- Assuming you are using Bootstrap Icons, replace with your chosen icon class -->
              </button>
          </form>
          
          
          
      <div class="mt-2 mt-md-0">
        <select  class="form-select" aria-label="Default select example" placeholder="المحافظة" (change)='filterByGovernate($event)'  >
          <option selected [value]="0" >المحافظة</option>
          <option *ngFor="let gover of governates" [value]="gover.id"  >{{gover.name}}</option>
                  </select>
            </div>
           
        </div>
       

        <div class="col-12">
          <table class="table text-center my-4 table-responsive">
              <thead class="table-primary">
                  <tr class="text-center">
                      <!--  <th class="text-left">الاعدادات</th>
                      <th class="text-left">PickUp</th>
                      <th class="text-left">تكلفة الشحن</th>
                      <th class="text-left">المدينة</th>
                      <th class="text-left">#</th> -->

                      <th class="text-left">#</th> 
                      <th class="text-left">المدينة</th>
                      <th class="text-left">تكلفة الشحن</th>
                      <th class="text-left">PickUp</th>
                      <th class="text-left">الاعدادات</th>
                  </tr>
              </thead>
              <tbody class="text-center">
                  <!-- <tr *ngFor="let city of cities">
                      <td scope="row" class="text-center">
                          <div class="d-flex justify-content-center">
                              <i class="bi bi-trash3-fill text-danger me-2 fs-4" (click)="deleteCity(city.id)"></i>
                              <i class="bi bi-pencil-square text-info fs-4" (click)="editCity(city)"></i>
                          </div>
                      </td>
                      <td class="text-center">{{ city.pickUpCost }}</td>
                      <td class="text-center">{{ city.normalCost }}</td>
                      <td class="text-center">{{ city.name }}</td>
                      <td class="text-center">{{ city.id }}</td>
                  </tr> -->
                  <tr *ngFor="let city of cities">
                    <td class="text-center">{{ city.id }}</td>
                    <td class="text-center">{{ city.name }}</td>
                    <td class="text-center">{{ city.normalCost }}</td>
                    <td class="text-center">{{ city.pickUpCost }}</td>
                    <td scope="row" class="text-center">
                      <div class="d-flex justify-content-center">
                          <i class="bi bi-trash3-fill text-danger me-2 fs-4" (click)="deleteCity(city.id)"></i>
                          <i class="bi bi-pencil-square text-info fs-4" (click)="editCity(city)"></i>
                      </div>
                  </td>
                  </tr>
              </tbody>
          </table>
  
          <app-pagination
              [totalItems]="totalItems"
              [itemsPerPage]="pageSize"
              [currentPage]="pageNumber"
              (pageChange)="onPageChange($event)">
          </app-pagination>
      </div>
  
    <!-- <div class="col-12">
      <table class="table table-responsive">
            <thead>
              <tr class="table-header">
                  <th scope="col" class="text-center">الاعدادات</th>
            <th scope="col" class="text-center" >PickUp</th>
            <th scope="col" class="text-center">تكلفة الشحن </th>
                  <th scope="col" class="text-center">المدينة</th>
                  <th scope="col" class="text-center">#</th>
              </tr>
            </thead>
            <tbody>
          <tr *ngFor="let city of cities">
                <td scope="row" class="text-center">
                    <div class="d-flex justify-content-center">
                <i class="bi bi-trash3-fill text-danger me-2 fs-4" (click)="deleteCity(city.id)"></i>
                <i class="bi bi-pencil-square text-info fs-4" (click)="editCity(city)"></i>
                    </div>
                </td>
            <td class="text-center">{{city.pickUpCost}}</td>
            <td class="text-center">{{city.normalCost}}</td>
            <td class="text-center">{{city.name}}</td>
            <td class="text-center">{{city.id}}</td>
              </tr>
            </tbody>
        </table> 

          <app-pagination
          [totalItems]="totalItems"
          [itemsPerPage]="pageSize"
          [currentPage]="pageNumber"
          (pageChange)="onPageChange($event)">
          </app-pagination>
    </div> -->

    <div class="modal"  [ngClass]="{'d-block' :modalOpen}" tabindex="-1">
      <div class="modal-dialog custom-modal-width">
            <div class="modal-content">
              <div class="modal-header justify-content-end align-items-center">
            <h3 class="text-end text-center mb-0" dir="rtl">{{editFlag== false ? "اضافة مدينة" : " تعديل مدينة"}}</h3>
            <button type="button" class="btn-close ms-0" aria-label="Close" (click)="closeModal()"></button>
              </div>
              <div class="modal-body d-flex "  dir="rtl">

          <form (ngSubmit)="cityHandler()" [formGroup]="cityForm">
          <div class="modal-body d-flex justify-content-between" dir="rtl">
            <div class="mb-3">
              <select  class="form-select" aria-label="Default select example" placeholder="المحافظة" formControlName= "governate_Id" >
                <option selected disabled [value]="0" >المحافظة</option>
                <option *ngFor="let gover of governates" [value]="gover.id" >{{gover.name}}</option>
                  </select>
                </div>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="اسم المدينة" aria-label="City Name" dir="rtl" formControlName="name">
                  </div>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="تكلفة الشحن العادية" aria-label="Regular Shipping Cost" dir="rtl" formControlName="normalCost">
                  </div>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="تكلفة شحن ال Pick Up" aria-label="Pick Up Shipping Cost" dir="rtl" formControlName="pickUpCost">
                  </div>

              </div>
              <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">اغلاق</button>
            <button type="submit" class="btn btn-primary">{{editFlag== false ? "اضافة" : "تعديل"}}</button>
              </div>
          </form>
            </div>
          </div>
        </div>
        
    </div>



   
</div>


