<header class="header">
    <div class="branding">
        <a routerLink="/" class="logo">Shipping System</a>
    </div>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a class="text-decoration-none text-white" routerLink="/">Home</a></li>
            <!-- <li><a class="text-decoration-none text-white" [routerLink]="['city']">City</a></li> -->
            <!-- <li><a class="text-decoration-none text-white" [routerLink]="['governate']">Governate</a></li> -->
            <li><a class="text-decoration-none text-white" [routerLink]="['branch']">Branches</a></li>
            <li><a class="text-decoration-none text-white" [routerLink]="['merchants']">Merchant</a></li>
            <li><a class="text-decoration-none text-white" [routerLink]="['representative']">Representative</a></li>
            <li><a class="text-decoration-none text-white" [routerLink]="['employee/all']">All Employees</a></li>
            <li><a class="text-decoration-none text-white" [routerLink]="['employee/add']">Add Employee</a></li>
            <li><a class="text-decoration-none text-white" [routerLink]="['weight']">Wieght</a></li>
            <li><a class="text-decoration-none text-white" [routerLink]="['village-cost']">village-cost</a></li>
            <li><a class="text-decoration-none text-white" [routerLink]="['shippingtype']">shipping</a></li>
            <li><a class="text-decoration-none text-white" [routerLink]="['admin/myGroups']">Groups</a></li>
            <li><a class="text-decoration-none text-white" [routerLink]="['admin/addGroup']">Add Group</a></li>
            <li><a class="text-decoration-none text-white" [routerLink]="['order/all']">Orders </a></li>
            <li><a class="text-decoration-none text-white" [routerLink]="['order/add']">Add Order</a></li>
            <!-- <li><a class="text-decoration-none text-white" [routerLink]="['shippingtype']">shipping</a></li> -->

            <!-- <li><a [routerLink]="['city']">City</a></li>
            <li><a routerLink="/admin">Admin</a></li>
            <li><a routerLink="/cart">Cart</a></li>
            <li><a routerLink="/profile">Profile</a></li>
            <li><a routerLink="/orders">Orders</a></li>
            <li><a routerLink="/ordersHistory">Orders History</a></li> -->
        </ul>
    </nav>
    <div class="user-menu">
        <!-- Example: Display user information or login/logout buttons -->
        <span *ngIf="isLoggedIn(); else loginLink">
            Welcome, {{ getUsername() }}
            <button (click)="logout()">Logout</button>
        </span>
        <ng-template #loginLink>
            <a routerLink="/login">Login</a>
        </ng-template>
    </div>
</header>