<div class="container py-5 mx-auto">
  <div class="row">
    <div class="py-3">
      <button class="btn btn-secondary" (click)="openModal()">اضافة فرع</button>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <form
        class="d-flex justify-content-between form-inline my-2 my-lg-0"
        (ngSubmit)="onSearch()"
      >
        <input
          class="form-control mr-sm-2 me-4"
          type="search"
          placeholder="بحث عن فرع"
          aria-label="Search"
          [formControl]="searchControl"
        />
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
          بحث
        </button>
      </form>
    </div>

    <table class="table my-5">
      <thead>
        <tr class="table-header">
          <th scope="col" class="text-center">الاعدادات</th>
          <th scope="col" class="text-center">الحالة</th>
          <th scope="col" class="text-center">تريخ الاضافة</th>
          <th scope="col" class="text-center">اسم الفرع</th>
          <th scope="col" class="text-center">#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let branch of paginatedBranches; let i = index">
          <td scope="row" class="text-center">
            <div class="d-flex justify-content-center">
              <i
                class="bi bi-trash3-fill text-danger me-2 fs-4 hand-pointer"
                (click)="deleteBranch(branch)"
              >
              </i>
              <i
                class="mx-1 fs-5 text-info bi bi-pencil-square fs-4 hand-pointer"
                (click)="editBranch(branch)"
              >
              </i>
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-switch d-flex justify-content-center">
              <input
                class="form-check-input fs-5"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
                [checked]="branch.status"
              />
              <label class="form-check-label ms-2">
                <ng-container *ngIf="branch.status; else lockedState">
                  نشط
                </ng-container>
                <ng-template #lockedState> غير نشط </ng-template>
              </label>
            </div>
          </td>
          <td class="text-center">{{ showDate(branch.addingDate) }}</td>
          <td class="text-center">{{ branch.name }}</td>
          <td class="text-center">
            {{ (currentPage - 1) * itemsPerPage + i + 1 }}
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-between">
      <button
        class="btn btn-primary"
        (click)="previousPage()"
        [disabled]="currentPage === 1"
      >
        السابق
      </button>
      <span>الصفحة {{ currentPage }} من {{ totalPages }}</span>
      <button
        class="btn btn-primary"
        (click)="nextPage()"
        [disabled]="currentPage === totalPages"
      >
        التالي
      </button>
    </div>

    <div class="modal" [ngClass]="{ 'd-block': modalOpen }" tab-index="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-end align-items-center">
            <h3 class="text-end text-center mb-0" dir="rtl">
              {{ modalTitle }}
            </h3>
            <button
              type="button"
              class="btn-close ms-0"
              data-bs-dismiss="modal"
              aria-label="Close"
              (click)="closeModal()"
            ></button>
          </div>
          <div class="modal-body" dir="rtl">
            <form
              #branchForm="ngForm"
              (ngSubmit)="onSubmit(branchForm)"
            >
              <div>
                <input
                  type="text"
                  name="name"
                  [(ngModel)]="selectedName"
                  class="form-control"
                  placeholder="اسم الفرع"
                  dir="rtl"
                />
              </div>

              

              <div>
                <input
                  type="date"
                  name="addingDate"
                  [(ngModel)]="selectedAddingDate"
                  class="form-control"
                  placeholder="تاريخ الاضافة"
                  dir="rtl"
                />
              </div>
              <div>
                <mat-label>حالة النشاط</mat-label>
                <mat-checkbox
                  name="status"
                  [(ngModel)]="selectedStatus"
                  class="example-margin"
                ></mat-checkbox>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  (click)="closeModal()"
                >
                  اغلاق
                </button>
                <button type="submit" class="btn btn-primary">
                  {{ modalAction }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
