.table-header{

    font-family: Poppins-Bold;
    font-size: 20px;
    color: #666;
}

.form-check-input:checked {
    background-color: #198754; 
    border-color: #4CAF50;
}
.btn {
    background-color: #15467e;
    border-color: #1ca3c4;
  }