<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <div class="tabs d-flex flex-column align-items-center justify-content-center" dir="rtl">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs border-0 mb-4" role="tablist">
          <li class="nav-item pb-2">
            <a class="nav-link labeltext border-0 active" role="tab" [ngClass]="{'active':selectedTab == 'customer'}" (click)="selectTab('customer')">بيانات العميل</a>
          </li>
          <li class="nav-item pb-2">
            <a class="nav-link labeltext border-0" role="tab" [ngClass]="{'active':selectedTab == 'order'}" (click)="selectTab('order')">بيانات الطلب</a>
          </li>
          <li class="nav-item pb-2">
            <a class="nav-link labeltext border-0" role="tab" [ngClass]="{'active':selectedTab == 'products'}" (click)="selectTab('products')">المنتجات</a>
          </li>
          <li class="nav-item pb-2">
            <a class="nav-link labeltext border-0" role="tab" [ngClass]="{'active':selectedTab == 'notes'}" (click)="selectTab('notes')">الملاحظات</a>
          </li>
        </ul>

        <div class="tab-content w-100">
          <form [formGroup]="orderForm" (ngSubmit)="handleSubmit()">
            <!-- Customer Tab -->
            <div *ngIf="selectedTab == 'customer'" class="tab-pane fade show active" id="customer" role="tabpanel">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="customerName" class="form-label labeltext">اسم العميل</label>
                  <input type="text" class="form-control" id="customerName" formControlName="customerName">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="customerEmail" class="form-label labeltext">البريد الالكتروني</label>
                  <input type="email" class="form-control" id="customerEmail" formControlName="customerEmail">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="customerPhone1" class="form-label labeltext">رقم الهاتف الاول</label>
                  <input type="text" class="form-control" id="customerPhone1" formControlName="customerPhone1">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="customerPhone2" class="form-label labeltext">رقم الهاتف الثاني</label>
                  <input type="text" class="form-control" id="customerPhone2" formControlName="customerPhone2">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="governate_Id" class="form-label labeltext">المحافظة</label>
                  <select class="form-select" formControlName="governate_Id">
                    <option *ngFor="let governate of governates" [value]="governate.id">{{governate.name}}</option>
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="city_Id" class="form-label labeltext">المدينه</label>
                  <select class="form-select" formControlName="city_Id">
                    <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="villageOrStreet" class="form-label labeltext">الشارع</label>
                  <input type="text" class="form-control" id="villageOrStreet" formControlName="villageOrStreet">
                </div>
                <div class="col-md-6 mb-3 d-flex align-items-center">
                  <label for="basic-url" class="form-label mb-0 labeltext ps-2">التوصيل لقرية</label>
                  <div class="form-check form-switch ms-3">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName="villageDeliver">
                  </div>
                </div>
              </div>
            </div>

            <!-- Order Tab -->
            <div *ngIf="selectedTab == 'order'" class="tab-pane fade show active" id="order" role="tabpanel">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="orderType" class="form-label labeltext">نوع الطلب</label>
                  <select class="form-select" formControlName="orderType">
                    <option *ngFor="let key of getEnumKeys(orderTypes)" [value]="key">{{ orderTypes[key] }}</option>
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="paymentType" class="form-label labeltext">وسيلة الدفع</label>
                  <select class="form-select" formControlName="paymentType">
                    <option *ngFor="let key of getEnumKeys(paymetTypes)" [value]="key">{{paymetTypes[key]}}</option>
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="shipping_Id" class="form-label labeltext">نوع الشحن</label>
                  <select class="form-select" formControlName="shipping_Id">
                    <option *ngFor="let type of shippingTypes" [value]="type.id">{{type.name}}</option>
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="branch_Id" class="form-label labeltext">الفرع</label>
                  <select class="form-select" formControlName="branch_Id">
                    <option *ngFor="let branch of branches" [value]="branch.id">{{branch.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- Products Tab -->
            <div *ngIf="selectedTab == 'products'" class="tab-pane fade show active" id="products" role="tabpanel">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="mb-0">قائمة المنتجات</h4>
                <button class="btn btn-secondary" type="button" (click)="openModal()">اضافة منتج</button>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">المنتج</th>
                    <th scope="col" class="text-center">السعر</th>
                    <th scope="col" class="text-center">الكمية</th>
                    <th scope="col" class="text-center">الوزن</th>
                    <th scope="col" class="text-center">الاعدادات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products; let i = index">
                    <td class="text-center">{{ i+1 }}</td>
                    <td class="text-center">{{ product.name }}</td>
                    <td class="text-center">{{ product.unitPrice }}</td>
                    <td class="text-center">{{ product.quantity }}</td>
                    <td class="text-center">{{ product.unitWeight }}</td>
                    <td class="text-center">
                      <div class="d-flex justify-content-center">
                        <i class="bi bi-trash3-fill text-danger me-2" (click)="deleteProduct(product.name)"></i>
                        <i class="bi bi-pencil-square text-info" (click)="openModal(product, i)"></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Notes Tab -->
            <div *ngIf="selectedTab == 'notes'" class="tab-pane fade show active" id="notes" role="tabpanel">
              <div class="mb-3">
                <label for="notes" class="form-label labeltext">ملاحظات</label>
                <textarea class="form-control" id="notes" formControlName="notes" rows="4"></textarea>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary">اضافة</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <!-- Product Modal -->
  <div class="modal" [ngClass]="{'d-block': modalOpen}" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-end align-items-center">
          <h3 class="text-end text-center mb-0 fs-4" dir="rtl">{{ editFlag ? "تعديل منتج" : "اضافة منتج" }}</h3>
          <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <form (ngSubmit)="addOrEditProduct()" [formGroup] ="productForm">
          <div class="modal-body d-flex align-items-center" dir="rtl">
            <div class="ps-2 w-100">
              <input type="text" class="form-control" placeholder="اسم المنتج" aria-label="ProductName"  name="name" formControlName="name" required>
            </div>
            <div class="ps-2 w-100">
              <input type="number" class="form-control" placeholder="السعر" aria-label="Weight"  name="unitPrice" formControlName="unitPrice" required>
            </div>
            <div class="ps-2 w-100">
              <input type="number" class="form-control" placeholder="الكمية" aria-label="Quantity"  name="quantity" formControlName="quantity" required>
            </div>
            <div class="ps-2 w-100">
              <input type="number" class="form-control" placeholder="الوزن" aria-label="Price"  name="unitWeight" formControlName="unitWeight" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">اغلاق</button>
            <button type="submit" class="btn btn-primary">{{ editFlag ? "تعديل" : "اضافة" }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- [(ngModel)]="newProduct.name" -->